<!DOCTYPE html>
<html>
    <head>
      <title>home page</title>
    </head>
    <body>
        <p>hi,total number of users are: <%= count %></p>
        <button>join us!</button>
    </body>
</html>
